* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

/* banner container styles */
.banner-container {
    width: 100%;
    height: 808px;
    background-image: url("images/banner/banner2.png");
    background-size: 100% 808px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    margin: auto;
    align-items: center;
}

.banner-details {
    padding-right: 230px;
    text-align: right;

}

.banner-title {
    height: 250px;
    font-weight: bold;
    font-size: 65px;
    color: #080303;
    padding-bottom: 30px;

}

.banner-description {
    font-weight: 450px;
    font-size: 22px;
    text-align: right;
    color: black;
}

.contact-btn {
    background: #F15B22;
    width: 160px;
    height: 64px;
    margin-top: 33px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 650px;
    border: none;
    border-radius: 8px;
}

.btnn {
    color: #FFFFFF;
    text-decoration: none;
}

/* main intro styles */
.main-intro {
    width: 1080px;
    height: 725px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: auto;
    padding: 131px;
    gap: 88px;
}

.intro-img {
    width: 570px;
    height: 725.3px;
    background: url("ff.png");
}

.intro-details {
    width: 416px;
    height: 400px;
    padding-left: 88px;
    padding-top: 150px;
}

.intro-title {
    font-size: 45px;
    font-weight: bold;
    color: #080303;
    text-align: left;
}

.intro-description {
    width: 450px;
    height: 104px;
    padding-top: 30px;
}

.intro-list {
    list-style: georgian;
}